#test {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
  height: 60vh;
  align-items: center;
}
.records {
  width: 33vw;
  float: left;
}
.scores {
  width: 100vw;
}
#gameCounter {
  display: flex;
  background-color: cyan;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: black;
}
